altgraph
asgiref
certifi
charset-normalizer
django
gunicorn
idna
macholib
numpy
packaging
pandas
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
pytz
requests
setuptools
six
sqlparse
tzdata
urllib3